language: csharp
dist: bionic
env:
  - FrameworkPathOverride=/usr/lib/mono/4.5/

jobs:
  include:
    - stage: Run Tests
      before_install:
        - sudo apt-get install -y dotnet-sdk-3.1
        - sudo apt-get install -y dotnet-sdk-2.1
      mono: none
      script:
        - dotnet --list-sdks
        - dotnet test ./PluginTest/PluginTest.csproj -c Release
        - dotnet test ./AcceptanceTest/AcceptanceTest.csproj -c Release

    - stage: deploy
      if: tag =~ ^v\d+\.\d+\.\d+
      mono: 5.8.0
      script:
        - VERSION=$(echo $TRAVIS_TAG | grep -i -P -o '(?<=^v)\d+\.\d+\.\d+(?:.+)?$'); VERSION_NUMBER=$(echo $VERSION | grep -i -P -o '^\d+\.\d+\.\d+')
        - dotnet build ./ADMPlugin.sln -c Release /p:Version=$VERSION /p:FileVersion=$VERSION_NUMBER.$TRAVIS_BUILD_NUMBER
        - mkdir -p ./dist; nuget pack ./AgGatewayADMPlugin.nuspec -outputdirectory ./dist -version $VERSION
        - if [ -n "${NUGET_API_KEY}" ]; then dotnet nuget push ./dist/AgGatewayADMPlugin.${VERSION}.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json; fi
      deploy:
        provider: releases
        api_key: $GITHUB_OAUTH_TOKEN
        file: "./dist/AgGatewayADMPlugin.${VERSION}.nupkg"
        skip_cleanup: true
        on:
          tags: true
